body {
 background-color: #000;
 color: #999999;
 margin:0;
 padding-right:5.44%;
 padding-left: 5.44%;
 font-family: "DIN Alternate";
 text-align: center;
}

ul {
 list-style-type: none;
}

.nav-item.logo-container {
 padding-bottom:20px;
 background-color:#000;
}

.nav {
  background-color: #000;
  padding:0;
  margin-bottom:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 34.3px;
  color: white;
}

.nav-item {
 padding:6.18px;
}

.logo {
 width: 280.14px;
 height: 100%;
}

.nav-item.small-nav-item{
 font-size: 8.09px;
 color: #7C7C7C;
 padding: 7px;
}

.link {
  color: #999999;
  text-decoration: none;
}

.link:hover {
 color: #CCCCCC;
}

.link.special-link {
 text-decoration: underline;
}

/* search bar */
#search-string-input {
	width:61.8%;
	background-color: #000;
	border: 1px solid #464646;
	border-radius: 22.8px;
	font-family: "DIN Alternate";
	font-size: 55.5px;
	color:#CCCCCC;
	padding-top: 16px;
	padding-left: 53px;
	padding-bottom:16px;
	padding-right:53px;
	margin:21px;
}

#search-string-input::-webkit-input-placeholder {
	color: #464646;
}
#search-string-input::-moz-placeholder {
	color: #464646;
}
#search-string-input::-ms-input-placeholder {
	color: #464646;
}
#search-string-input:-moz-placeholder {
	color: #464646;
}
.btn.search-btn {
	display: none;
}

/* search list */
.song-list {
 margin:0;
 padding:0;
}

.item-img {
 width: 15%;
}

.item-container {
 width: 100%;
 padding:13px;
}

.box-container {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items:center;
}

/* details */
.detail-container {
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: center;
}

.detail-img {
 padding: 21px;
}

.song-details {
 text-align: left;
}

/* recommended list */
.box-detail {
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items:center;
}

/* special */
.special-title {
	color: #666666;
}

.btn {
 background-color: #000;
 color: #fff;
 border:1px solid #464646;
 border-radius: 22.8px;
 font-family: "DIN Alternate";
}

.form-control{
	width:38.2%;
	background-color: #000;
	border: 1px solid #464646;
	border-radius: 22.8px;
	font-family: "DIN Alternate";
	font-size: 55.5px;
	color:#CCCCCC;
	padding-top: 16px;
	padding-left: 53px;
	padding-bottom:16px;
	padding-right:53px;
	margin:21px;
}

#special-string-input::-webkit-input-placeholder {
	color: #464646;
}
#special-string-input::-moz-placeholder {
	color: #464646;
}
#special-string-input::-ms-input-placeholder {
	color: #464646;
}
#special-string-input:-moz-placeholder {
	color: #464646;
}
